<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <title>E-commerce Project</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script async defer src="scripts/script.js"></script>

   </head>
  <body>
    <!--Nav-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-black" >
        <div class="container" >
          <a href="#" class="navbar-brand" style="font-family: 'Pangolin', cursive; font-size: 40px;" id="logo"><img src="images/logoo.png" alt="" width="100" height="100"></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a href="./index.html"class="nav-link">Home</a>
              </li>
               <li>
            <a href="#">PRODUCTS</a>
            <ul class="dropdown">
                <li><a href="./oil.html">Oil painting</a></li>
                <li><a href="./water.html">Watercolor painting</a></li>
                <li><a href="./digital.html">Digital painting</a></li>
				        <li><a href="./acrylic.html">Acrylic painting</a></li>
            </ul>
        </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Profile</a>
              </li>
              <li class="nav-item">
                <a href="#about-sec" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="#cnt" class="nav-link">Contact</a>
              </li>
              <li class="nav-item">
                <a href="{{path}}" class="nav-link">{{s}}</a>
              </li>
              {{#if wish}}
              <li class="nav-item">
                <a href="/wishlist" class="nav-link">wishlist</i></a>
              </li>
              {{/if}}
              <li class="nav-item">
                <a href="/checkout" class="nav-link"><i class="fas fa-shopping-cart fa-2x"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--End of NAv-->
      <!-- SLIDER -->
      <section id="main">
        <div id="Carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3 h-color">Discover the creative artwork</h1>
                  <p class="lead">Get the best from young and emerging talent</p>
                  <a href="./signup.html" class="btn btn-color slide-btn btn-lg">Sign Up Now</a>
                </div>
              </div>
            </div>
    
            <div class="carousel-item carousel-image-2">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block mb-5">
                  <h1 class="display-3 h-color">Paperie & Crafts</h1>
                  <p class="lead"></p>
                  <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
                </div>
              </div>
            </div>
    
            <div class="carousel-item carousel-image-3">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3 h-color">Paintings</h1>
                  <p class="lead">“Painting is just another way of keeping a diary”- Pablo Picasso.</p>
                  <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
                </div>
              </div>
            </div>
          </div>
    
          <a href="#Carousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
    
          <a href="#Carousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </section>
      <!--End of slider-->
      <!--Service Section==========-->
      <section class="services py-5 text-center">
          <div class="container">
              <div class="row">
                  <!--Single Service-->
                  <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                      <span class="service-icon">
                          <i class="fas fa-globe fa-2x"></i>                            
                      </span>
             <h5 class="font-weight-bold text-uppercase">Worldwide Shipping</h5>
             <p class="text-capitalize">by top logistics</p>
                  </div>
                  <!--end of Service=-->
                  <!--Single Service-->
                  <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                    <span class="service-icon">
                        <i class="fas fa-stamp fa-2x"></i>                            
                    </span>
           <h5 class="font-weight-bold text-uppercase">Best of the creativity</h5>
           <p class="text-capitalize">Arts from emerging artists</p>
                </div>
                <!--end of Service=-->
                <!--Single Service-->
                <div class="col-10 mx-auto col-md-6 col-lg-4 my-3">
                    <span class="service-icon">
                        <i class="fas fa-file-invoice-dollar fa-2x"></i>                            
                    </span>
           <h5 class="font-weight-bold text-uppercase">Best price</h5>
           <p class="text-capitalize">get the best artwork in affordable price</p>
                </div>
                <!--end of Service=-->
              </div>
          </div>
      </section>
      <!---End of Service Section=======-->
 <!-- Product section -->
 <section id="products" class="products py-5">
  <div class="container">
    <!-- section title -->
    <div class="row">
      <div class="col-10 mx-auto col-sm-6 text-center">
        <h1 class="text-capitalize product-title">Featured Products</h1>
      </div>
    </div>
    <!-- end section title -->
     <!-- Product items -->
    <div class="row product-items" id="product-items">
      <!-- single items -->
      
      <div class="row product-items" id="product-items">
      <!-- single items -->
      
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
         <div class="card single-item">
          <div class="img-container">
            <img src="images/116251046_716945572185434_1247220502247536614_n.jpg" class="card-img-top product-img" alt="">
            </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
             <span>
               <i class="fas fa-dollar-sign"></i>
               <span class="price">350</span>
              <button class='btn-add'><i class="fas fa-shopping-cart"></i></button>
        
              {{#if wish}}
              <button class='btn-wish'>Add to wishlist</i></button>
                
              {{/if}}           
            </span>
            

            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/123773635_2332241886921974_6758809461245054148_n.jpg" class="card-img-top product-img" alt="">
           </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
              <span><i class="fas fa-dollar-sign"></i>
                <span class="price">450</span>
              <button class='btn-add'><i class="fas fa-shopping-cart"></i></button>
                 {{#if wish}}
              <button class='btn-wish'>Add to wishlist</i></button>
                
              {{/if}}  

              </span>
              </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/british-library-Ny52J4_jLzU-unsplash.jpg" class="card-img-top product-img" alt="">
            </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
              <span><i class="fas fa-dollar-sign"></i>
                <span class="price">550</span>
                <button class='btn-add'><i class="fas fa-shopping-cart"></i></button>
                   {{#if wish}}
              <button class='btn-wish'>Add to wishlist</i></button>
                
              {{/if}}  
              
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/matze-bob-0dpL_9Mbjxk-unsplash.jpg" class="card-img-top product-img" alt="">
          </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
              <span><i class="fas fa-dollar-sign"></i>
                <span class="price">650</span>
                <button class='btn-add'><i class="fas fa-shopping-cart"></i></button>
                 {{#if wish}}
              <button class='btn-wish'>Add to wishlist</i></button>
                
              {{/if}}  
                
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/fuu-j-KRztl5I6xac-unsplash.jpg" class="card-img-top product-img" alt="">
           </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name">Price</h5>
              <span><i class="fas fa-dollar-sign"></i>
                <span class="price">750</span>
                <button class='btn-add'><i class="fas fa-shopping-cart"></i></button>
                 {{#if wish}}
              <button class='btn-wish'>Add to wishlist</i></button>
                
              {{/if}}  
                 
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/scott-waldrop-chappell-yFmt742OtXQ-unsplash (1).jpg" class="card-img-top product-img" alt="">
           </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
              <span><i class="fas fa-dollar-sign"></i>850</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/61837373_144129353407226_1856503600978366674_n.jpg" class="card-img-top product-img" alt="">
            </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
              <span><i class="fas fa-dollar-sign"></i>950</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/71237673_144337833464789_6733557659498751265_n.jpg" class="card-img-top product-img" alt="">
            </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="store-item-name">Price</h5>
              <span><i class="fas fa-dollar-sign"></i>350</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/89940122_230717467972780_3337711532905853219_n.jpg" class="card-img-top product-img" alt="">
        </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
              <span><i class="fas fa-dollar-sign"></i>350</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/93375026_259405318549927_5650059625726322028_n.jpg" class="card-img-top product-img" alt="">
          </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name">Price</h5>
              <span><i class="fas fa-dollar-sign"></i>750</span>
           </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/96582209_240031423748389_4516442007535122388_n.jpg" class="card-img-top product-img" alt="">
                      </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name">Price</h5>
              <span><i class="fas fa-dollar-sign"></i>850</span>
    
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
      <!-- single items -->
      <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
        <div class="card single-item">
          <div class="img-container">
            <img src="images/pat-whelen-2agkTHuOB-s-unsplash.jpg" class="card-img-top product-img" alt="">
        </div>
          <div class="card-body">
            <div class="card-text d-flex justify-content-between text-capitalize">
              <h5 id="item-name"> Price</h5>
              <span><i class="fas fa-dollar-sign"></i>550</span>
            </div>
          </div>
        </div>
      </div>
      <!-- end of single item -->
    </div>
    <!-- end of store items -->
  </div>
</section>
<!-- end of store section -->
  <!---End of Product Section===-->
  <!---About Section=====-->
  <section id="about-sec">
     <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 text-center">
          <img src="images/logoo.png" width="450" height="150" 
          class="img-fluid watch-img">
        </div>
        <div class="col-lg-7 text-lg-right  text-center text-color about-text">
          <h1 >About Company</h1>
          <p class="text">It is a platform where you can discover some great artworks and masterpeice.
            <b>Artistan</b> believes that the digital world is an incredible tool for buying art, spreading art around the world and allowing people to purchase pieces that they love, whether it is by an emerging African artist or a more established contemporary French painter or even a rising star of street art.
          </p>
        </div>
      </div>
      </div>
      </section>
      <!---End of About Section---->
      <!--Best Seller Products-->
      <section class="seller py-5">
        <div class="container">
          <!--Section title-->
          <div class="row mb-5">
            <div class="col d-flex flex-wrap text-uppercase justify-content-center">
              <h1 class="font-weight-bold align-self-center mx-1">
                Best Seller Products
              </h1>
            </div>
          </div>
          <!---End of Title-->
          <div class="row">
           <div class="col-sm-6 ">
              <div class="seller-item">
                <img src="images/the-new-york-public-library-4BXWIQoS8Fo-unsplash.jpg" alt="" class="img-fluid photo">
                <p>Lorem ipsum dolor sit amet.</p>
               </div>
            </div>
            <!--End of first column-->
            <div class="col-sm-6 d-flex flex-column justify-content-between">
              <div class="row">
                <!--first item-->
                <div class="col-sm-6">
                  <div class="seller-item">
                    <img src="images/sofia-palese-o7nM4uch3oQ-unsplash.jpg" alt="" class="img-fluid seller-img">
                    
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
                <!--End of 1st item-->
                 <!--first item-->
                 <div class="col-sm-6">
                  <div class="seller-item">
                    <img src="images/birmingham-museums-trust-RRn7VvZCbas-unsplash (1).jpg" alt="" class="img-fluid seller-img">
                    
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
                <!--End of 1st item-->       
              </div>
              <!--end of row-->
              <div class="row">
                <!--first item-->
                <div class="col-sm-6">
                  <div class="seller-item">
                    <img src="images/elia-pellegrini-J-Kf1Ca1Zbc-unsplash.jpg" alt="" class="img-fluid seller-img
                    img-top">
                    
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
                <!--End of 1st item-->
                 <!--first item-->
                 <div class="col-sm-6">
                  <div class="seller-item">
                    <img src="images/IMG_20200606_212632_129.jpg" alt="" class="img-fluid seller-img
                    img-top">
                    
                    <p>Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
                <!--End of 1st item-->       
              </div>
            </div>
          </div>
         </div> 
      </section>
      <!---End of Best Seller-->
      <!--Contact us Section-->
       <!--Contact US-->
    <section class="contact py-5">
      <div class="container">
          <h2 class="section-heading" id ="cnt">Contact Us</h2>
          <form class="col-lg-6 offset-lg-3">
              <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" placeholder="Enter name">
              </div>
              <div class="form-group">
                  <label for="message">Message</label>
                  <textarea class="form-control" id="message" placeholder="Type your message" row="5">
                  
              </textarea>
              </div>
              <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="check">
                  <label class="form-check-label" for="check">Subscribe to newsletter</label>
              </div>
              <div class="text-center">
                  <button class="btn btn-lg btn-color cont-btn">Submit</button>
              </div>
          </form>
      </div>
  </section>
  <!--End of Contact Section-->
    <!--Footer-->
    <footer class="footer mt-5">
      <div class="text-center py-5 ">
          <h2 class="py-3">Artistan</h2>
         <div class="mx-auto heading-line"></div>
       </div>
      <div class="container">
          <div class="row mb-3">
              <div class="col-lg-8 offset-lg-2 text-center">
                  <p>Artistan, an online art gallery that brings contemporary artworks to everyone. </p>
                  <div class="justify-content-center">
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-twitter fa-2x"></i>
                    <i class="fab fa-instagram fa-2x"></i>
                    
                    </div>
             </div>
          </div>
          <div class="copyright text-center py-3 border-top text-light">
            <p>&copy; Copy Right Artistan</p>
              
          </div>
      </div>

  </footer>



 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>